<html>
  <body>
    Bonjour <%= user.firstName %> <%= user.name %>,</br>
    </br>
    Votre véhicule électrique, connecté sur la borne <%= chargingStationId %> (connecteur <%= connectorId %>), est maintenant complètement chargé !</br>
    </br>
    <% if (notifStopTransactionAndUnlockConnector) { %>
      La transaction a été automatiquement stoppée et le connecteur dévérouillé !</br>
      </br>
    <% } %>
    Vous pouvez dès à présent libérer la place de parking.</br>
    </br>
    Vous pouvez des à présent vérifier son état : <a href="<%= evseDashboardChargingStationURL %>">EVSE Dashboard</a></br>
    </br>
    Cordialement,</br>
    EVSE Admin.
  </body>
</html>
