<html>
  <body>
    Hi <%= (user.firstName?user.firstName:user.name) %>,</br>
    </br>
    Your electric vehicle which is connected to the charging station <%= chargingStationId %> is fully charged!</br>
    </br>
    <% if (notifStopTransactionAndUnlockConnector) { %>
      The transaction has been automatically stopped and the connector unlocked.</br>
      </br>
    <% } else { %>
      You can now stop the transaction and unlock the connector.</br>
      </br>
    <% } %>
    You can check the status here: <a href="<%= evseDashboardChargingStationURL %>"><%= chargingStationId %> - Connector <%= connectorId %></a></br>
    </br>
    Best Regards,</br>
    EVSE Admin.
  </body>
</html>
