<html>
  <body>
    Hi <%= user.firstName %>,</br>
    </br>
    Your electric vehicule, connected to the charging station <%= chargingStationId %>, will be soon completely charged!</br>
    </br>
    You can check its status here: <a href="<%= evseDashboardChargingStationURL %>"><%= chargingStationId %> - Connector <%= connectorId %></a></br>
    </br>
    Best Regards,</br>
    EVSE Admin.
  </body>
</html>
